section#create-post {
	background: rgb(22, 22, 22);
	width: 700px;
	margin: 50px auto;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}
section#create-post h1 {
	font-size: 30px;
}
section#create-post h3.error {
	color: red;
	font-size: 20px;
	background: rgba(255, 0, 0, 0.2);
	border: 1px solid red;
	padding: 5px 20px;
	border-radius: 2px;
	margin-top: 20px;
}
section#create-post h3.status {
	color: yellow;
	font-size: 20px;
	background: rgba(255, 255, 0, 0.2);
	border: 1px solid yellow;
	padding: 5px 20px;
	border-radius: 2px;
	margin-top: 20px;
	text-align: center;
}

section#create-post div {
	margin: 20px auto;
}
section#create-post div label {
	color: grey;
	font-size: 15px;
	padding-bottom: 10px;
}
section#create-post div input[type="text"], section#create-post div textarea {
	resize: none;
	font-size: 15px;
	background: rgb(44, 44, 44);
	border: none;
	padding: 5px 15px;
	width: 500px;
	outline: none;
	border: 1px solid rgb(71, 71, 71);
}
section#create-post div input[type="file"] {
	background: rgb(44, 44, 44);
	padding: 5px 15px;
	border: 1px solid rgb(71, 71, 71);
	border-radius: 2px;
	width: 500px;

}
section#create-post button {
	background: rgb(23, 140, 194);
	font-size: 20px;
	border: none;
	outline: none;
	padding: 10px 40px;
	
}
@media (max-width: 900px) {
	section#create-post {
		width: 500px;
	}
	section#create-post div input[type="text"] {	
		width: 300px;
		font-size: 10px;
	}
	section#create-post div input[type="file"] {	
		width: 300px;
		font-size: 10px;
	}
	section#create-post div textarea  {
		width: 300px;
		font-size: 10px;
	}
	section#create-post button {
		font-size: 10px;

	}
}
@media (max-width: 700px) {
	section#create-post {
		width: 90%;
	}
}